# resultados de execucao (dados, nao codigo)
results/
*.fastq
*.fastq.gz
*.fasta
*.fa
*.bam
*.bam.bai

# metadados/cache do snakemake
.snakemake/

# bancos de dados (baixados separadamente, nao versionar)
*.dmnd
*_db/

__pycache__/
*.pyc
